---
import { Image } from "astro:assets";
import lolaImage from "../images/1_lola.jpg";
import Layout from "../layouts/Layout.astro";
import TextWithPhoto from "../components/TextWithPhoto.astro";
---

<Layout title='The Power of The Arts'>
  <header class='heading'>
    <div class='title-wrapper'>
      <h1 class='title'>The Power of The Arts</h1>
    </div>
  </header>
  <TextWithPhoto
    title=''
    photo={lolaImage}
    alt='Drawing of Robert and Lola playing the guitar'
  >
    <p>
      “We stand in the doorway of a new epoch in human history. Artificial
      intelligence, digital media and corporate domination threaten to swallow
      our culture and marginalize our humanity. Within this dangerous context,
      the arts can play the crucial role of re-affirming our humanity and
      creating opportunities for the sustenance of community. We must become
      active creators of art, not only passive consumers of it. Only when we
      ourselves actively participate in experiences that allow us to sing, dance
      and share stories, can the transforming power of the arts do their magic."
    </p>
  </TextWithPhoto>
</Layout>

<style>
  header {
    margin-top: 4rem;
  }

  .title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    text-wrap: balance;
    color: var(--text1);
    font-family: var(--font-serif);
  }
</style>
