---
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Curriculum Vitae'>
  <section class='resume'>
    <section>
      <h1 class='resume-title'>Robert Albrecht</h1>
      <p>
        <strong>Full Professor</strong><br />
        Media Arts Department<br />
        New Jersey City University<br />
        Jersey City, New Jersey 07305
      </p>
    </section>

    <section>
      <h2 class='title'>Education</h2>
      <ul class='list'>
        <li>
          New York University: Media Ecology, Ph.D. 1991.<br />
          Dissertation: The Technologizing of the Song: An Ethnography and Oral History
          of Musical Change in a Small Brazilian Town.
        </li>
        <li>
          University of Wisconsin-Milwaukee: Urban Studies, MA 1978.<br />
          Thesis: Case Histories of Squatter Settlement Migrants in Salvador, Bahia
          (Brazil).
        </li>
        <li>
          Universidad de Chile-Santiago: Sociology (1969-70), Junior Year
          Abroad.
        </li>
        <li>
          Saint Peter's College, Jersey City: Urban Studies, BA 1971.<br />
          Thesis: A Tale of Three Cities: A Cross-Cultural Analysis of Santiago,
          Rio de Janeiro and Brasília.
        </li>
      </ul>
    </section>

    <section>
      <h2 class='title'>Honors and Fellowships</h2>
      <ul class='list'>
        <li>
          Best Documentary Film (2024), The Golden Door International Film
          Festival, for the film Man on a Mission (co-directed and co-produced
          with Dina Bruno Ciborowski).
        </li>
        <li>
          The Susanne Langer Award (2021) for the book The Arts and Play as
          Educational Media in the Digital Age (co-authored with Carmine
          Tabone).
        </li>
        <li>
          Excellence in Teaching Award (2016). Presented by the New Jersey City
          University Chapter of the National Society of Leadership and Success
          (NSLS).
        </li>
        <li>
          The John Culkin Award (2012) for the cycle of songs and CD, Song of
          the Poet. The award is given annually by the Media Ecology Association
          in recognition of works “of art, media production, or professional
          activity” that demonstrate a practical application of the media
          ecology approach to the study of media.
        </li>
        <li>
          The Dorothy Lee Award (2005) for the book Mediating the Muse as
          recognition of “outstanding scholarship in the ecology of culture.”
        </li>
        <li>
          Carlos and Guillermo Vigil Prize (1986) for the publication of the
          best article to appear in Volume 5 of Studies in Latin American
          Popular Culture, “Violeta Parra and La Nueva Canción Chilena.”
        </li>
        <li>
          Organization of American States Fellowship (1976-77) to support
          Master's thesis research in Brazil.
        </li>
        <li>
          Separately Budgeted Research Grant (2012) to support the production of
          A Tale of Two Cities, a CD of original songs about people, places, and
          events in Jersey City and Hoboken.
        </li>
        <li>Who’s Who Among America’s Teachers (2004).</li>
        <li>
          New Jersey City University Foundation Grant (2001) to support field
          research in Chile.
        </li>
        <li>
          Separately Budgeted Research Grant (2000) to support field research in
          Brazil.
        </li>
        <li>
          World Languages and Cultures Grant (2000) to support professional
          travel in Brazil.
        </li>
      </ul>
    </section>

    <section>
      <h2 class='title'>Languages</h2>
      <p>
        Fluent in Spanish and Portuguese. Serious study initiated in Italian.
      </p>
    </section>

    <section>
      <h2 class='title'>Related Experience</h2>
      <ul class='list'>
        <li>
          <strong>Media Arts Department, New Jersey City University</strong>,
          Full Professor (1997-2023).<br />
          Courses Taught: Introduction to Media, Media in American Society, TV Sitcom
          and the American Experience, Film and Human Conflict, Introduction to Latin
          American Civilization, History of Media, Media Revolution in the 1960s.
        </li>
        <li>
          <strong>Camp Liberty</strong>, Summer Staff, Jersey City (1982-2023).
          Director of the musical program, senior staff supervisor.
        </li>
        <li>
          <strong
            >Department of Communication & Department of Urban Studies, Saint
            Peter's College</strong
          >, Adjunct Professor (1985/1993-1997).<br />
          Courses Taught: Mass Media and Society, Media and the Urban Environment,
          Public Relations, Theories of Human Communication.
        </li>
        <li>
          <strong
            >Department of Communication Studies, State University of New
            York-Cortland</strong
          >, Instructor (1991-1992).<br />
          Courses Taught: Small Group Communication, Writing for the Media, Interviewing
          Principles and Practices, Mass Media and Society.
        </li>
        <li>
          <strong>Family Advocacy Program</strong>, Family Counselor, Jersey
          City (1980-81). Counsel families with children at risk of
          institutionalization.
        </li>
        <li>
          <strong>Department of City Development</strong>, Community Services
          Specialist, Milwaukee (1978-1980). Develop cultural and recreational
          programs for the city's low-income housing projects, interview
          applicants for public housing, assist in the coordination of public
          relations with various neighborhoods and citizen organizations.
        </li>
        <li>
          <strong>Center for Latin America, University of Wisconsin</strong>,
          Project Assistant, Milwaukee (1973-1974). Compile research on migrant
          workers in Wisconsin, prepare funding proposals, and provide
          educational materials concerning Latin America to the Milwaukee Public
          Schools.
        </li>
        <li>
          <strong>Spanish Harlem Community Association</strong>, Youth
          Counselor, New York City (1969). Coordinate small group film project
          involving neighborhood adolescents.
        </li>
        <li>
          <strong>New York City Police Department</strong>, Youth Placement
          Counselor, New York City (1968). Interview and place inner city
          adolescents in summer jobs at neighborhood precincts.
        </li>
      </ul>
    </section>

    <section>
      <h2 class='title'>Publications</h2>
      <h3>A. Books</h3>
      <ul class='list'>
        <li>
          <em>The Arts and Play as Educational Media in the Digital Age</em>.
          Co-authored with Carmine Tabone. (New York: Peter Lang Publishing,
          2020). Winner of the Susanne Langer Award.
        </li>
        <li>
          <em>Mediating the Muse: Music, Media and Cultural Change</em> (Cresskill,
          NJ: Hampton Press, 2004). Winner of the Dorothy Lee Award.
        </li>
        <li>
          <em>The Magic Circle of Drama</em> (2008). Co-author of the Introduction
          and overall consultant to the project. (Jersey City: Educational Arts Team,
          2008).
        </li>
      </ul>
    </section>

    <section>
      <h3 class='title'>B. Articles</h3>
      <ul class='list'>
        <li>
          “My Grandfather’s Three Questions,” Etc.: A Review of General
          Semantics, Vol. 78, no. 3-4).
        </li>
        <li>
          “The 22nd Annual Convention of the Media Ecology Association: July
          8–11, 2021,” Afterimage: The Journal of Media Arts and Cultural
          Criticism, September, 2021 (Volume 48, no. 3).
        </li>
        <li>
          Editorial review of “A Media Ecological Approach to the History of
          Music Notation: The Neume, Staff and Mensural Rhythm” for Explorations
          in Media Ecology, Winter 2021.
        </li>
        <li>
          “The Making of a Counter Environment,” Explorations in Media Ecology,
          2021. Vol. 20, No. 1, pp. 101-105.
        </li>
        <li>
          “O princípio da gangorra: As artes e o brincar como contrapeso na era
          digital. Revista ALCEU, Pontifícia Universidade Católica do Rio de
          Janeiro, Departamento de Comunicação Social / Programa de
          Pós-graduação, October 2020, DOI:
          https://doi.org/10.46391/ALCEU.v20.ed41.2020.86
        </li>
        <li>
          “Extending McLuhan” (with Liang Yi). Explorations in Media Ecology,
          2018. Vol. 17, No. 2, pp. 173-179.
        </li>
        <li>
          “Doo-Wop Italiano: Towards an Appreciation and Understanding of
          Italian American Vocal Groups of the Late 1950s and Early 1960s.”
          Popular Music and Society. Volume 42 Issue 2, DOI:
          10.1080/03007766.2017.1414663
        </li>
        <li>
          “Roger Water and Pink Floyd: The Concept Albums” and “Radiohead and
          the Global Movement for Change” (Reviews of two books published by
          Phil Rose), Explorations in Media Ecology, Vol. 17, No. 1, pp. 99-102.
        </li>
        <li>
          “A Question of Balance: Children, Pedagogy and Play in the Age of
          Digital Technology," Ricerche di Pedagogia e Didattica (Journal of
          Theories and Research in Education), Universitá di Bologna, Vol. 12,
          No.2, 2017.
        </li>
        <li>
          “The Media Ecology of Play: A Preliminary Probe of Childhood Play in
          the Digital Age,” with Carmine Tabone. Explorations in Media Ecology.
          Vol. 16, No. 1, March 2017.
        </li>
        <li>
          “On the Road to Find Out: One Jacket, Two Guitars, and a Handful of
          Songs.” The Academic Forum, 2017.
        </li>
      </ul>
    </section>
  </section>
</Layout>

<style>
  .resume-title {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    text-wrap: balance;
    color: var(--text1);
    font-family: var(--font-serif);
  }
  .resume {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: var(--sans-serif);
    padding: 2rem;
  }
  .title {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: left;
    text-wrap: balance;
    color: var(--text1);
    font-family: var(--font-serif);
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--sans-serif);

    > li {
      line-height: 2;
      font-size: 1.35rem;
    }
  }

  .list-wrapper {
    margin-top: 5rem;
  }
</style>
