---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import TextWithPhoto from "../components/TextWithPhoto.astro";
import TextWithYoutube from "../components/TextWithYoutube.astro";
import trailer from "../videos/1.mov";
import twenty_four from "../images/24.jpg";
---

<Layout title='Videos'>
  <TextWithPhoto title='Man on a Mission' video={trailer}>
    <p>
      The recent winner of &quot;Best Documentary&quot; at the Golden Door
      International Film Festival, <b>Man on a Mission</b> tells the remarkable story
      of Carmine Tabone who embarked upon a forty-five year journey using the arts
      as a means of building community and teaching literacy. The documentary explores
      Tabone’s artistic philosophy which is deceptively simple and yet profound.
      Rather than being the exclusive talent of the gifted few, the arts are really
      a way for all of us to tune in to our own creativity and form healthy communities.
    </p>
  </TextWithPhoto>
  <TextWithPhoto
    title='Oops! There Goes the Loews'
    photo={twenty_four}
    alt='Loews theater'
  >
    <p>
      I wrote this song and made this video at a time when the future of the
      majestic Loews Theater in Jersey City’s Journal Square was hanging by a
      thread. The unusual conceptualization of the songs recounts the peril of
      the threatened movie palace as if the story was happening on the screen
      inside the theater. The decades long struggles of Colin Egan, Patti
      Giordin, and the Friends of Loews eventually paid off and the landmark
      theater was saved from destruction. Special thanks to David Gerwitz for
      his help on this my introduction to video editing.
    </p>
  </TextWithPhoto>
  <TextWithYoutube
    title='The Ballad of Muhammad Ali'
    video='https://www.youtube.com/embed/Xvr5gCg1HMM?si=6a14daoFb2kWR7bh'
  >
    <p>
      I wrote this song and made this video at a time when the future of the
      majestic Loews Theater in Jersey City’s Journal Square was hanging by a
      thread. The unusual conceptualization of the songs recounts the peril of
      the threatened movie palace as if the story was happening on the screen
      inside the theater. The decades long struggles of Colin Egan, Patti
      Giordin, and the Friends of Loews eventually paid off and the landmark
      theater was saved from destruction. Special thanks to David Gerwitz for
      his help on this my introduction to video editing.
    </p>
  </TextWithYoutube>
  <TextWithYoutube
    title='Mending Wall'
    video='https://www.youtube.com/embed/nZmymwFIJhA?si=7JYrMorzpJXmCEL3'
  >
    <p>
      This song was included on <b>Song of the Poet</b> as part of the song cycle
      of poems that I put in musical settings. By giving the classic poem of Robert
      Frost a Latin twist, the meaning is extended as a commentary on the hatred
      so often directed at our southern neighbors who contribute so much to our economy
      and culture. Special thanks to Crystal Soto for putting the video together
      and to Roberto Perez for providing his running commentary in Spanish as sonoro
      deploring bigotry.
    </p>
  </TextWithYoutube>
</Layout>
